.card {
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 10px;
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card p {
  margin: 0;
}

.icon {
  margin-right: 5px;
}

button {
  margin: 0;
}